#profile {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  background-color: #e0bb84;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}